@model Spin.Models.Video
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-1 text-center">
            <h2>Music Videos</h2>
        </div>
    </div>
</div>
