@model Spin.Models.Artist
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col text-center">
        <h2>Delete Artist</h2>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p>Artist is deleted. Add another favorite artist to your list.</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="@Url.RouteUrl("AllArtists")" class="btn btn-primary">Back to Artists</a>
    </div>
</div>
