@model Spin.Models.Artist
@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(a => a.Id)
<div class="row">
    <div class="text-center">
        <h2>Details</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Name</p>
    </div>
</div>
<br />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var album in Model.Albums)
                {
                    <td>@album.Name</td>
                    <td><a href="@Url.RouteUrl("AlbumDetails", new { id = album.Id})" class="btn btn-success">Album Details</a></td>
                }
            </tr>
        </tbody>
    </table>
</div>
